<h2>Select Your Role</h2>

<form action="/set-role" method="POST">
  <label>
    <input type="checkbox" name="roles" value="donor"> Donor
  </label>

  <label>
    <input type="checkbox" name="roles" value="ngo"> NGO
  </label>

  <br><br>
  <button type="submit">Continue</button>
</form>
